{% extends 'layout.html.twig' %}

{% block title %}Ajouter une catégorie{% endblock %}

{% block content %}
    Ajouter une catégorie :
    <form action="" method="post">
        <input type="text" name="nom">
        <input type="submit" name="send" value="Ajouter">
    </form>
{% endblock %}