{% extends 'layout.html.twig' %}
{% block title %}Supprimer un item{% endblock %}

{% block content %}
    <main>
        <h1>Item {{ item.title }}</h1>
        <form method="post">
            <input type="text" name="nom" value="{{ item.title }}">
            <input type="submit" name="delete" value="Supprimer"><br>
        </form><br>
        <a href='/'>Back to list</a>
    </main>
{% endblock %}