{% extends 'layout.html.twig' %}
{% block title %}Supprimer une catégorie{% endblock %}

{% block content %}
    <main>
        <h1>Category {{ category.nom }}</h1>
        <form method="post">
            <input type="text" name="nom" value="{{ category.nom }}">
            <input type="submit" name="delete" value="Supprimer"><br>
        </form><br>
        <a href='/categorys'>Back to list</a>
    </main>
{% endblock %}